<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.hda.tdpro">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >
        <activity
            android:name=".activity.UpgradeAbility"
            android:exported="false" />
        <activity
            android:name=".activity.UpgradeTower"
            android:exported="false" />
        <activity
            android:name=".activity.InGameActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".activity.EndGameActivity" />
        <activity android:name=".activity.LexiconActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.LevelSelectionActivity" />
        <activity android:name=".activity.TowerUpgradeActivity" />
        <activity android:name=".activity.AbilityUpgradeActivity" />
        <activity android:name=".activity.MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>